@import url(./variables.css);




.-intro h1 {
    text-align: left;
    font-size: 2.8rem;
    margin-left: 2rem;
    margin-bottom: 0.3rem;
    

}

.intro-container{
    margin-top: 300px;
    z-index: 10;
    position: fixed;
    margin-left: 40px;
    
}

.intro-bar {
    background-color: var(--ac-gray);
    padding: 1rem;
    display: block;
    padding-left: 2rem;
    padding-top: 0.3rem;
    width: 52.5%;
    filter: drop-shadow(8px 8px 5px var(--ac-blue-dark));
    
}

.intro-content{
    text-justify: distribute;
    text-align: left;
}

.intro-content h3 {
    margin-bottom: 0.2rem;
}

.intro-content p {
    color: #aaa;
}

@media only screen and (max-width: 1580px) {
    .-intro h1 {
        text-align: left;
        font-size: 2rem;
        margin-left: 2rem;
        margin-bottom: 0.3rem;
        
    
    }
}


@media only screen and (max-width: 1030px) {
    .-intro h1 {
        text-align: center;
        font-size: 2.4rem;
        margin-left: 1.5rem;
        margin-bottom: 0.25rem;
        
    
    }
    .intro-container{
        margin-top: 0px;
        z-index: 10;
        position: relative;
        margin-left: 0;
    }
    .intro-bar {
        background-color: var(--ac-gray);
        padding: 1rem;
        display: block;
        padding-left: 2rem;
        padding-top: 0.3rem;
        width: 100%;
        filter: drop-shadow(4px 4px 3px var(--ac-blue-dark));
        
    }

    .intro-content{
        text-align: center;
    }
}