@import url(./variables.css);


.IntroBar:hover h1{
    animation: shake 1600ms ease-in-out;

}

.-intro h1 {
    text-align: left;
    font-size: 2rem;
    margin-left: 2rem;
    margin-bottom: 0.3rem;

}

.IntroBar{
    /* margin-top: 220px; */
    z-index: 10;
    /* position: fixed; */
    
    /* margin-left: 40px; */
    
}

.intro-bar {
    background-color: var(--ac-gray);
    padding: 1rem;
    display: block;
    padding-left: 2rem;
    padding-top: 0.3rem;
    width: 73%;
    filter: drop-shadow(8px 8px 5px var(--ac-primary));
    margin: 0;
    
}

#intro-text{
    line-height: 1.2rem;
}
.intro-content{
    text-justify: distribute;
    font-size: 0.9rem;
    text-align: left;
}

.intro-content h3 {
    margin-bottom: 0.2rem;
}

.intro-content p {
    color: #aaa;
}

@media only screen and (max-width: 1500px) {
    .-intro h1 {
        font-size: 1.2rem;
    }
    .IntroBar{
        margin-top: 50px;
    }
    .intro-bar {
    }
}

@media only screen and (max-width: 1250px) {
    .-intro h1 {
        text-align: center;
        font-size: 1.7rem;
        margin: auto;
        margin-bottom: 1rem;
        margin-top: 1.5rem;
        
    
    }
    .IntroBar{
        margin-top: 0px;
        z-index: 10;
        position: relative;
        margin-left: 0;
    }
    .intro-bar {
        background-color: var(--ac-gray);
        display: block;
        width: 90%;
        padding-left: 0%;
        margin: auto;
        filter: drop-shadow(4px 4px 3px var(--ac-primary));
    }

    .intro-content{
        text-align: center;
    }
}