@import url(./variables.css);


.page-title{
    float: left;
    vertical-align: middle;
    font-size: 1.1rem;
    padding: 0.5rem;
}

.link-container {
    display: table-cell;
    width: 100%;
    height: 33px;
    vertical-align: middle;
}

.link {
    text-decoration: none;
    transition: color .15s ease-in;
    color: #b1b1b1;
    font-size: 1rem;
    padding: 0.5rem;
    display: inline-block;
    
}

.link:link, .link:visited {
    transition: color .15s ease-in;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
    background-color: var(--ac-gray);
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover{
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

#services, #blog {
    margin-right: 1rem;
}

.nav-active{
    color : var(--ac-primary);
    transform: scale(1.1);;
    background-color: var(--ac-gray);
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
}

.nav{
    padding-left: 10px;
    text-align: right;
    display: table; 
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 30em) {
    .ph5-ns {
        padding-left: 1rem;
        padding-right: 4rem;
    }

    .mr4-ns {
        margin-right: 2rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
}