@import url(./variables.css);


.page-title{
    float: left;
    vertical-align: middle;
    font-size: 1.1em;
    padding: 0.5rem;
}

.link-container {
    display: table-cell;
    padding: 0.5rem;
    width: 100%;
}

.link {
    text-decoration: none;
    outline: none;
    transition: color .15s ease-in;
    color: #4d4d4f;
    font-size: .875rem;
    display: inline-block;
}

.link:hover {
    transition: color .15s ease-in;
}

.link:active {
    transition: color .15s ease-in;
}

.v-mid {
    vertical-align: middle;
}

.dim {
    opacity: 1;
    transition: opacity .15s ease-in;
}

.dim:hover{
    opacity: .5;
    transition: opacity .15s ease-in;
}

.dim:active {
    opacity: .8;
    transition: opacity .15s ease-out;
}

#services, #blog {
    margin-right: 1rem;
}

.nav-active{
    color : var(--ac-primary);
}

.nav{
    padding-left: 10px;
    text-align: right;
    display: table; 
    width: 100%;
    box-sizing: border-box;
}

@media screen and (min-width: 30em) {
    .ph5-ns {
        padding-left: 1rem;
        padding-right: 4rem;
    }

    .mr4-ns {
        margin-right: 2rem;
    }

    .f5-ns {
        font-size: 1rem;
    }
}