.side-toggle{
    background-color: var(--ac-gray);
    height: 40px;
    width: 40px;;
    
/*      
    padding-top: 22%;
    padding-bottom: 22%; */
    /* text-orientation: sideways-right; */
    /* writing-mode: vertical-rl; */
}

.nav-btn{
    width: 100%;

}
  
.SideButton{
    width: 15%;
    align-self: flex-end;
}

@media(max-width: 1250px) {
   
}