@import url(./variables.css);


a {
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

.bottom a {
    color: var(--ac-white);
    margin: auto;
    font-size: 1em;
    
    
}

#red, #green, #blue {
    margin: 10px;

    background-color: var(--ac-primary);
    padding: 0.6em;
    border-radius: 100px;
    width: 80px;
    display: inline-block;
}

#click {
    color: var(--ac-text-gray);
}

#red:hover, #green:hover, #blue:hover {
    transform: scale(1.1);
}

#red:hover {
    background-color: var(--ac-red);
    transition: background-color 350ms,
                transform 350ms;
    ;
}

#green:hover {
    background-color: var(--ac-green);
    transition: background-color 350ms,
                transform 350ms;
}

#blue:hover {
    background-color: var(--ac-signature-blue);
    transition: background-color 350ms,
                transform 350ms;
    
}

@media only screen and (max-width: 1030px) {
    #red:hover, #green:hover, #blue:hover {
        transform: none;
    }
    #red{
        background-color: var(--ac-red);
    }
    #red:hover {
        transition: none;
        
    }
    #green{
        background-color: var(--ac-green);
    }
    #green:hover {
        transition: none;
    }
    #blue{
        background-color: var(--ac-blue);
    }    
    #blue:hover {
        transition: none;
        
    }
    
}