@import url(./variables.css);


a {
    text-decoration: none;
    cursor: pointer;
    font-size: 30px;
}

.bottom a {
    color: var(--ac-white);
    margin: auto;
    font-size: 1em;
    vertical-align: middle;
    
}

#red, #green, #blue {
    margin: 0px 010px 5px 10px;

    background-color: var(--ac-primary);
    padding: 0.6em;
    border-radius: 100px;
    width: 80px;
    display: inline-block;
}

#click {
    color: var(--ac-text-gray);
}

#red:hover, #green:hover, #blue:hover {
    transform: scale(1.1);
}

#red{
    transition: background-color 350ms,
                transform 350ms;
}

#red:hover {
    background-color: var(--ac-red);
}

#green{
    transition: background-color 350ms,
                transform 350ms;
}

#green:hover {
    background-color: var(--ac-green);
}

#blue{
    transition: background-color 350ms,
                transform 350ms;
}

#blue:hover {
    background-color: var(--ac-signature-blue);
    
    
}

.tc-link{
    vertical-align: middle;
    text-decoration: none;
    transition: color .15s ease-in;
    color: white;
    font-size: 0.9rem;
    display: inline-block;
    padding-bottom: 0.2rem;
}

@media only screen and (max-width: 1250px) {
    #red:hover, #green:hover, #blue:hover {
        transform: none;
    }
    #red{
        background-color: var(--ac-red);
    }
    #red:hover {
        transition: none;
        
    }
    #green{
        background-color: var(--ac-green);
    }
    #green:hover {
        transition: none;
    }
    #blue{
        background-color: var(--ac-blue);
    }    
    #blue:hover {
        transition: none;
        
    }
    .bottom{
        margin-top: 20px;
    }
}