html {
    font-size: 24px;
    line-height: 1.15;
    

    --ac-black: #000;
    --ac-gray: #151515;
    --ac-gray-translucent: #151515fd;
    --ac-dark-gray: #101010;
    --ac-dark-gray-translucent: #101010ed;
    --ac-white: #fff;
    
    --ac-red: #BF0000;
    --ac-red-dark: #370000;
    
    --ac-blue: #0000BF;
    --ac-blue-dark: #000037;

    --ac-green: #00BF00;
    --ac-green-dark: #003700;

    --ac-signature-blue: #4299ff;

    --ac-text-gray: #71757a;

    --ac-primary: #bf0000;

    --rgb-red: #ff0000;
    --rgb-blue: #0000ff;
}


@media(max-width: 15800px) {
    html {
        font-size: 20px;
        line-height: 1.15;
        
    }
}

@media(max-width: 980px) {
    html {
        line-height: 1.1;
        font-size: 14px;
    }
}

@media(max-width: 800px) {
    html {
        line-height: 1.0;
        font-size: 14px;
    }
}