html {
    font-size: 20px;
    line-height: 1.15;
    

    --ac-black: #000;
    --ac-gray: #151515;
    --ac-white: #fff;
    
    --ac-red: #BF0000;
    --ac-red-dark: #370000;
    
    --ac-blue: #0000BF;
    --ac-blue-dark: #000037;

    --ac-green: #00BF00;
    --ac-green-dark: #003700;


    --ac-text-gray: #71757a;

    --ac-primary: #4299ff;

    --rgb-red: #ff0000;
    --rgb-blue: #0000ff;
}


@media(max-width: 1580px) {
    html {
        font-size: 18px;
        line-height: 1.15;
        
    }
}

@media(max-width: 980px) {
    html {
        line-height: 1.1;
        font-size: 14px;
    }
}

@media(max-width: 800px) {
    html {
        line-height: 1.0;
        font-size: 10px;
    }
}
body::-webkit-scrollbar {
    width: 0px;
    background-color: #000000;
} 

