.side-toggle{
    background-color: var(--ac-gray);
    width: 40px;
    padding-top: 25%;
    padding-bottom: 25%;
    float: left;
    z-index: 2;
     
    /* text-orientation: sideways-right; */
    /* writing-mode: vertical-rl; */
}

.nav-btn{
    width: 40px;
    margin: auto;


}
  

@media(max-width: 1580px) {
    .side-toggle {
        padding-top: 23.25%;
        padding-bottom: 23.25%;
    }
}


@media(max-width: 1030px) {
    .side-toggle {
        padding-top: 0%;
        padding-bottom: 0%;
    }
}