@import url(./variables.css);

@keyframes rotate-1 {
    
    0% {
        transform-origin: 40% center;
        transform: rotate(0deg); 
        
    }
    100% {
        transform-origin: 40% center;
        transform: rotate(180deg);
    }
}

@keyframes rotate-2 {
    
    0% {
        transform-origin: 60% center;
        transform: rotate(0deg); 
        
    }
    100% {
        transform-origin: 60% center;
        transform: rotate(180deg);
    }
}


@keyframes scaling {
    0% {
        fill: var(--ac-red);
    }
    25% {transform-origin: center center;
        transform: scaleY(1.3);
        fill: var(--ac-white);
    }
    50% {
        transform: scaleY(1);
        fill: var(--ac-red);
    }
    75% {
        
    }
    100%{
    }
}

.bar-1{
    fill: var(--ac-white);
    animation: scaling 2000ms ease-in-out;
    animation-iteration-count: infinite;
}


.bar-2{
    fill: var(--ac-white);
    animation: scaling 2000ms ease-in-out;
    animation-iteration-count: infinite;
    animation-delay: 250ms;
}

.rotate-1{
    animation: rotate-1 400ms ease-in-out;
    animation-fill-mode: forwards;

}

.rotate-2{
    animation: rotate-2 400ms ease-in-out;
    animation-fill-mode: forwards;
    animation-delay: 100ms
}