html {
    --ac-black: #000;
    --ac-gray: #151515;
    --ac-white: #fff;
    
    --ac-red: #BF0000;
    --ac-red-dark: #370000;
    
    --ac-blue: #0000BF;
    --ac-blue-dark: #000037;

    --ac-green: #00BF00;
    --ac-green-dark: #003700;


    --ac-text-gray: #71757a;

    --ac-primary: #4299ff;

    --rgb-red: #ff0000;
    --rgb-blue: #0000ff;
}